/* Styles the header of a webpage with a grid layout and three columns. Aligns content to center. */
.header {
    display: grid;
    grid-template-columns: 200px 1fr 350px;
    justify-content: center;
    align-items: center;
}

/* Styles the left section of the header with a flex layout and centers the content. */
.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles the coffee image in the left section by setting its width. */
.coffee-img {
    width: 60px;
}

/* Styles the title element with no hyperlink decoration, black color, and bold font weight. */
.title {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Styles the middle section of the header with flex layout, center alignment, column gap, padding, and minimum width. */
.middle-section {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    padding: 10px;
    min-width: 300px;
}

/* Styles the middle section's links with no hyperlink decoration, black color, transition effect, and an underline for hover events. */
.middle-section a {
    text-decoration: none;
    color: black;
    text-overflow: none;
    text-decoration-color:#FF902A;
    transition: color 0.4s;
}
.middle-section a:hover {
    color: #FF902A;
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-decoration-color:#FF902A;
    text-underline-offset: 5px;
}

/* Styles the right section of the header with center alignment and flex layout. */
.right-section {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Styles the search and basket sections with a flex layout and center alignment. */
.SearchBasket {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles the search bar with padding, border radius, and transition effect for focus events. */
.header-search {
    padding: 9px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: padding-block-end 0.4s;
}
.header-search:focus {
    outline: none;
}
.header-search:hover {
    padding-block-end: 14px;
}

/* Styles the search button with a white background color, no border, width, and border radius. */
.Search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    width: 50px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

/* Styles the search image with its width. */
.search-img {
    width: 20px;
}

/* Styles the search part of the header with flex layout and start alignment. */
.SearchPart {
    display: flex;
    justify-content: start;
    padding: 10px;
    flex: 1;
}

/* Styles the basket part of the header with center alignment and flex layout. */
.BasketPart {
    justify-content: center;
    /* flex: 1; */
    /* align-items: flex-end; */
    position: relative;
    cursor: pointer;
}

/* Styles the basket image with its width. */
.Basket-img {
    width: 35px;
}
.basket-item-count{
    position: absolute;
    height: 17px;
    width: 18px;
    text-align: center;
    padding: 4px;
    background-color: #FF902A;
    top: -8px;
    border-radius: 25px;
    right: -12px;
    font-size: 12px;
    margin: 0;
    font-weight: 600;
}
