/* Styles for a testimonial container */
.testimonial{
    background-color: #F6EBDA;
    width: 60%;
    height: 400px;
    margin-top: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

/* Styles for a grid containing testimonials */
.testimonial-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    column-gap: 20px;
    top: 25%;
    right: -350px;
}

/* Styles for a container containing photo cards in a testimonial */
.testimonial-photoCard-part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 120px;
}

/* Styles for a card in a testimonial */
.testimonial-card{
    background-color: black;
    width: 150px;
    height: 200px;
    border: 5px solid #F9D9AA;
    position: relative;
}

/* Styles for an image inside a testimonial card*/
.testimonial-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles for the description part of a testimonial */
.testimonial-description-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles for the comment section inside a testimonial card */
.testimonial-card-comments{
    position: absolute;
    background-color: #FFCB7C;
    border-radius: 10px;
    padding: 2px 5px 8px 10px;
    height: 50px;
    width: 160px;
    bottom: 10px;
    left: 25px;
}

/* Styles for the name section of a comment in a testimonial card */
.comment-name{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

/* Styles for the text content section of a comment in a testimonial card */
.comment-containt{
    font-size: 11px;
    margin: 0;
}

/* Styles for the first paragraph element inside a testimonial container */
.testimonial-p1{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

/* Styles for the second paragraph element inside a testimonial container */
.testimonial-p2{
    font-size: 11px;
    color: #7E7D7A;
}

@media only screen and (max-width: 767px) {
    .testimonisl-2,.testimonisl-3{
        display: none;
    }
    .testimonial{
        width: 90%;
        height: 300px;
        display: flex;
        padding: 10px;
    }
    .testimonial-grid{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: static;
        column-gap: 2px;
    }
    .testimonial-description-part{
        position: static;
        width: 100%;
        flex: 2;
    }
    .testimonial-photoCard-part{
        grid-template-columns: 1fr;
        flex: 1;
    }
    .testimonial-card-comments{
        width: fit-content;
        height: fit-content;
        bottom: -37px;
        left: 20px;
        padding: 0;
    }
    .comment-containt{
        font-size: 0.5rem;
        text-justify: inter-word;
    }
}